.persona {
  position: relative;
  object-fit: cover;
  width: 50%;
  height: auto;
  top: 16%;
  left: 18%;
  z-index: 1;
}
.globo {
  border-radius: 25px;
  padding: 12px;
  background: orange;
  padding: 15px;
  position: relative;
  width: 200px;
  margin: 10px 30px -30px auto;
  font-family: inherit;
  z-index: 1;
}
.globo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 80px;
  background: transparent;
  width: 0px;
  height: 0px;
  border-bottom: 40px solid orange;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  transform: rotate(90deg);
  z-index: -1;
}
